<div class="container">
<h1>Gaute Gjerløw Remen</h1>
<p>Graduate Student at the University of Bergen</p>
<p>Passionate about front end design and to make stuff look pretty. Experience in JavaScript, Ruby on Rails, HTML5, but also in Java (and JavaFX/Swing and Perl)  </p>

<br />

<a href="http://no.linkedin.com/in/gauteremen" target="blank">
<%=image_tag("linkedin.png") %> </a>

<a href="http://github.com/gauteremen" target="blank">
<%=image_tag("github.png") %> </a>

<a href="http://twitter.com/gauteremen" target="blank">
<%=image_tag("twitter.png") %> </a>
</div>
